<section>
  <header class="page-header">
  <h1>About Us</h1>
  <br>
    <div class="intro">
      <p>
        <em>Originally conceived as part of a money-laundering operation with deep ties to several pyramid schemes and the Japanese Mafia, <strong>JUNGLE</strong> has since experienced an explosion of genuine consumer interest to where it has now evolved into a legitimate business operation.</em>
      </p>
      <p>
        <em>Our trees are all raised under the watchful eye of an elderly karate master, and his impulsive, hot-headed student. Together, they ensure the trees learn important life lessons about balance, honor, and most importantly, how to perform mundane tasks such as sanding the floor, painting the fence, wax-on, wax-off. Be prepared to sit back and relax while your very own <strong>JUNGLE</strong> plant takes care of all your household chores!.</em>
      </p>
      <p>
        <em>As a "family"-run operation, we value our customers support, and promise to minimize the amount of credit card skimming where possible. We are also an eco-friendly organization, and all of our customers who insist on refunds are reused as fertilizer for our trees, ensuring they will live on through our next batch of products. </p>
        <p>We leave you with some words of wisdom.. </em>
      </p>
  </header>
</section>

<% # below courtesy of: https://mdbootstrap.com/docs/standard/extended/quotes/#section-2 %>

<section class="vh-50" style="background-color: #99ffcc;">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col col-lg-10 col-xl-8">

        <div class="card rounded-3">
          <div class="card-body p-5">

            <div class="d-flex justify-content-center mb-4">
              <img src="https://yamadeus.files.wordpress.com/2016/06/4909-karatekid3_051.jpg"
                class="rounded-circle shadow-1-strong" width="200" height="200" />
            </div>
            <figure class="text-center mb-0">
              <blockquote class="blockquote">
                <p>
                  <span class="font-italic">Hai. Make it, because have strong root. Just like you, Daniel-san. Inside you have strong root. No need nothing except what inside you to grow.</span>
                </p>
              </blockquote>
              <br>
              <figcaption class="blockquote-footer mb-4">
                Mr Miyagi in <cite title="Source Title">the Karate Kid 3</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
  